recursive-include d3m_estimator_to_primitive *.jinja2
recursive-include d3m_estimator_to_primitive *.csv
recursive-include d3m_estimator_to_primitive *.json
recursive-include d3m_estimator_to_primitive/data/vendor *.py
